@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


* {
    padding: 0;
    margin: 0;
} 

body {
    height: 100vh;
    background-image: url(img/background-magic.jpg);
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    
} 


.container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    
}



.container-players {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 5%;
    padding-right: 40px;
}

.container-player {
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    padding: 6vw 3vw;
    display: flex;
    align-items: center;
    gap: 30px;
}


h1 {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    font-size: 40px;
}

.container-player1 {
    background-color: #10A19D;    
    
}

.container-player2 {
    background-color: #FF7000;
}

.container-player3 {
    background-color: #EA047E;
}

.container-player4 {
    background-color: #38E54D;
}

.container-player-increment {
    font-size: 60px;
    border-radius: 10%;
    
}

.container-player-increment:hover {
    font-size: 80px;
    cursor: pointer;
    transition: 0.8s;
    
}

.number {
    font-size: 80px;
    font-family: 'MedievalSharp', cursive;
    color: black
}


@media (max-width: 640px ) {
    body {
        background-image: url(img/background-magic-mobile-2.png);
        
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100vh;
        
        
        
        
        
    }

    .title {
        font-size: 30px;
    }

    .container-players {
        padding: 0.5%;
        
        gap: 20px;
       
    }

    .container-player {
        padding: 6vh;
        
    }


    .container-player-increment:hover {
        font-size: 60px;
          
    }

    .container-player-increment:active {
        font-size: 70px;
        cursor: pointer;
        transition: 0.9s;
        
    }

    .container-name {
        display: none;
    }

    .container-player1 {
        background-color: #10A19D; 
       
             
    }
    
    .container-player2 {
        background-color: #FF7000;
        margin-bottom: 20px;
       
    }
    
    .container-player3 {
        display: none;
    }
    
    .container-player4 {
        display: none;
    }
    

    /* fazendo o jogador 1 ficar de cabeça para baixo, sem que fique espelhado */
    .upside-down {
        transform: rotate(180deg);
        position: relative;
        bottom: 34.5vh;
    }


   
}